@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --dark: #001233;
  --white: #ffff;
  --yelow: #ffb703;
  --green: rgb(12, 160, 7);
}

/*Header*/
body {
  font-family: "Comfortaa", cursive;
}

.container {
  margin-top: 10%;
}

.navbar-title {
  color: var(--white);
  font-weight: bold;
  font-size: 30px;
  transition: 3s ease-in-out all;
}

.navbar-title:hover {
  color: var(--green) !important;
}

.navbar {
  z-index: 100;
  /* O un valor menor según sea necesario */
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* Agrega un margen entre los elementos */
  align-items: center;
}

.label {
  margin-bottom: 5px;
  /* Agrega un pequeño margen inferior a las etiquetas */
}

.modal-body {
  font-size: 30px;
}

.card-header {
  background-color: var(--yelow);
  color: var(--white);
  transition: 3s ease-in-out all;
  height: 8vh;
  text-align: center;
}

.card-header:hover {
  color: var(--green) !important;
}

.card-header h3 {
  font-weight: bold;
  font-size: 45px;
}

#cliente {
  background-color: var(--yelow);
  color: var(--white);
}

.table-responsive {
  overflow-x: auto;
}

#head {
  background-color: var(--yelow);
  color: var(--white);
}